:3200 {
	handle /api/* {
		reverse_proxy api:8000
	}

	handle /internal/* {
		respond 404
	}

	handle /share/* {
		reverse_proxy api:8000
	}

	handle /stream/* {
		header Access-Control-Allow-Origin *
		header Access-Control-Allow-Methods "GET, OPTIONS"
		header Access-Control-Allow-Headers "*"
		uri strip_prefix /stream
		reverse_proxy icecast:8000 {
			flush_interval -1
			transport http {
				compression off
			}
		}
	}

	handle /*.ogg {
		header Access-Control-Allow-Origin *
		header Access-Control-Allow-Methods "GET, OPTIONS"
		header Access-Control-Allow-Headers "*"
		reverse_proxy icecast:8000 {
			flush_interval -1
			transport http {
				compression off
			}
		}
	}

	handle {
		reverse_proxy frontend:80
	}
}
